* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
  }
  
  h1 {
    font-family: 'MontserratBold';
    font-weight: normal;
    font-style: normal;
    color: #665544
  }
  
  .container {
    width: 40%;
    background-color: OldLace;
    height: 20em;
    padding: 1em;
    border: 3px solid #665544;
    
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  
  label {
    font-size: 1.7em;
    font-weight: bold;
  }
  
  input[type="text"]{
    width: 80%;
    height: 1.6em;
    font-size: 1.2em;
    padding: 0.5em;
    border: 1px solid #665544
  }
  
  input[type="submit"]{
    width: 30%;
    padding: 0.2em;
  }
  
  .wrapper{
    display: flex;
    justify-content: center;
    gap: 1%;
  }
